<footer id="contacts">

  <div class="footer-map">
    <div id="map"></div>
    <div class="footer-inner">
      <div class="footer__contact-info">
        <h3>NЁrds design studio</h3>
        <p>
          191186, Санкт-Петербург,<br />ул.Б.Конюшенная, д.
          19/8
        </p>
        <p>тел. +7 (812) 275-75-75</p>
        <button onclick="writeToUsModalOpen()" class="button button--red" type="button">Напишите нам</button>
      </div>
      <!-- <div class="footer__map-marker">
        <img src="/img/index/map-marker.png" />
      </div> -->
    </div>
  </div>
</footer>
<footer class="footer">
  <div class="footer-inner">


    <ul class="footer__social-media">
      <li>
        <a class="footer__icons" href="#Vk">
          <img src="/img/index/vk-icon.png">
        </a>
      </li>
      <li>
        <a class="footer__icons" href="#FB">
          <img src="/img/index/fb-icon.png">
        </a>
      </li>
      <li>
        <a class="footer__icons" href="#IG">
          <img src="/img/index/insta-icon.png">
        </a>
      </li>
    </ul>
    <div class="footer__title">
      <h2>Давайте дружить, это выгодно!</h2>
      <p>Скидка 10% для друзей из социальных сетей.</p>
    </div>

  </div>
</footer>