
  <nav class="navigation">
    <div class="navigation-inner">

      <div class="logo-navigation">
        <a href="/index.html">
        <img src="/img/index/nerds-logo.svg" alt="Логотип компании" onload="SVGInject(this)" />
      </a>
      </div>

      <div class="site-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a href="/index.html#studio" class="navigation-list__link">Студия</a>
          </li>
          <li class="navigation-list__item">
            <a href="/index.html#clients" class="navigation-list__link">Клиенты</a>
          </li>
          <li class="navigation-list__item">
            <a href="/shop.html" class="navigation-list__link">Магазин</a>
          </li>
          <li class="navigation-list__item">
            <a href="/index.html#contacts" class="navigation-list__link">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="user-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <button class="navigation-list__link">
              
              <div class="navigation-list__icon">
              <img src="/img/index/shopping-cart.svg" onload="SVGInject(this)" />
              </div>
              Корзина
            </button>
          </li>
        </ul>
      </div>

    </div>
  </nav>

 